.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  font-family: inherit;
  transition: background-color 0.3s;
  text-decoration: none;
}

.button_primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.button_primary:hover {
  background-color: var(--button-primary-hover-bg);
}

.button_secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-color);
}

.button_secondary:hover {
  background-color: var(--button-secondary-hover-bg);
}

.button_link {
  color: var(--button-link-color);
}

.button_link:hover {
  text-decoration: underline;
}

.button > svg {
  fill: currentColor;
}

.button:disabled {
  opacity: 0.65;
  pointer-events: none;
}

.button_small {
  padding: 6px 10px;
}

.button_normal {
  padding: 8px 12px;
}
