.header {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 0;
}

.nav {
  display: flex;
  column-gap: 10px;
  margin-right: auto;
}

.nav > [aria-current="page"] {
  text-decoration: underline;
}
