.input {
  padding: 8px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg);
  color: var(--text-color);
  font-family: inherit;
}

.input::placeholder {
  color: var(--text-color);
}

.input:disabled {
  opacity: 0.5;
}
